:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-grey-color: #f5f4fa;
  --primary-background-color: #f5f5f5;
  --primary-black-color: #2f303a;
  --secondary-black-color: #000000;
  --adress-color: rgba(255, 255, 255, 0.6);
  --border-content-color: #eeeeee;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --transition-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-title {
  color: var(--title-text-color);
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.button {
  min-width: 200px;
  padding: 10px 0;
  margin: 30px 0 0;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: box-shadow var(--transition-func);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}
@media (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 24px 0;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  max-width: 1600px;
  padding: 118px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/banner/banner-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}
.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hero__title {
    width: 696px;
    margin: 0 auto;
    font-size: 44px;
    line-height: 1.3;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}
.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-close-btn-icon {
  vertical-align: middle;
}

.modal-title {
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-form {
  margin: 12px 0 0;
}

.modal-form-item {
  margin: 10px 0 0;
}

.modal-form-item:first-child {
  margin-top: 0;
}

.modal-form-label {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form-field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field:focus + .modal-form-field-icon {
  fill: var(--accent-color);
}

.modal-form-field {
  display: block;
  margin: 4px 0 0;
  width: 100%;
  padding: 11px 12px 11px 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal-form-field:focus {
  border-color: var(--accent-color);
}

.comment-field {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.agreement-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0;
  line-height: 1.7142857143;
  color: var(--primary-text-color);
}

.agreement-checkbox {
  opacity: 0;
}

.agreement-label-link {
  display: inline-block;
  margin: 0 0 0 5px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox-icon {
  position: relative;
  margin: 0 8px 0 0;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon::before {
  content: " ";
  position: absolute;
  width: 11px;
  height: 6px;
  border-left: 2px solid var(--primary-white-color);
  border-bottom: 2px solid var(--primary-white-color);
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
  opacity: 0;
}

.agreement-checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-origin: border-box;
  border-color: var(--accent-color);
}

.agreement-checkbox:checked + .checkbox-icon::before {
  opacity: 1;
}

.modal-form-btn {
  display: block;
  margin: 30px auto 0;
  padding-left: 55px;
  padding-right: 55px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.submit-btn {
  padding: 10px 0;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  border-color: transparent;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .features__list {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
    height: 224px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}
@media screen and (max-width: 1199.98px) {
  .activity {
    display: none;
  }
}
.activity {
  padding-bottom: 94px;
}
.activity__list {
  display: flex;
  column-gap: 30px;
}
.activity__item {
  position: relative;
}
.activity__subtitle {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  width: 100%;
}

.team {
  padding: 60px 0;
  background-color: var(--primary-grey-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__image {
  width: 450px;
  height: 460px;
}
@media screen and (min-width: 768px) {
  .team__image {
    width: 354px;
    height: 374px;
  }
}

.team__text-wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
  padding: 30px 10px;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18px;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 16px;
}

.team__text {
  font-size: 16px;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-list {
  width: 206px;
  height: 44px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  transition: background-color var(--transition-func);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill var(--transition-func);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--primary-white-color);
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}
.clients__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.clients__item {
  width: 152px;
  height: 92px;
}
@media (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}
.clients__link {
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color var(--transition-func);
}

.clients__link:focus,
.clients__link:hover {
  border-color: var(--accent-color);
  border-radius: 4px;
  outline: transparent;
}

.clients__icon {
  display: block;
  fill: currentColor;
  transition: fill var(--transition-func);
}
.clients__link:focus .clients__icon, .clients__link:hover .clients__icon {
  fill: var(--accent-color);
}

.clients__link:focus,
.clients__link:hover {
  border-color: var(--accent-color);
  border-radius: 4px;
  outline: transparent;
}

.clients__icon {
  display: block;
  fill: currentColor;
  transition: fill var(--transition-func);
}
.clients__link:focus .clients__icon, .clients__link:hover .clients__icon {
  fill: var(--accent-color);
}/*# sourceMappingURL=main.css.map */