.footer {
  padding: 60px 0;
  background-color: var(--primary-black-color);

  &__container {
    @media (min-width: 768px) {
      display: flex;
    }

    @media (max-width: 1199px) {
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 165px;
      row-gap: 60px;
      text-align: center;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: var(--primary-white-color);

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
}

.adress {
  margin-top: 20px;
  font-style: normal;

  &__item {
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.adress__link {
  color: var(--adress-color);
  transition: color var(--transition-func);

  font-style: normal;
  line-height: 1.71;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.adress__link--map {
  color: var(--primary-white-color);
  line-height: 1.71;
}
